<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.zc741.thinking"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/k"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zc741.thinking.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.zc741.thinking.MainActivity">
        </activity>

        <activity
            android:name="com.zc741.thinking.ItemDrawerleft.AboutActivity"
            android:label="@string/About">
        </activity>
        <activity
            android:name="com.zc741.thinking.ItemDrawerleft.ContributeActivity"
            android:label="@string/submit">
        </activity>
        <activity
            android:name="com.zc741.thinking.ItemDrawerleft.PublishActivity"
            android:label="@string/publish">
        </activity>
        <activity
            android:name="com.zc741.thinking.ItemDrawerleft.VersionActivity"
            android:label="@string/version">
        </activity>
    </application>

</manifest>
